{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Register{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Register</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
