{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Reset password{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Reset password</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
