version: '3'

services:
###> doctrine/doctrine-bundle ###
  database:
    ports:
      - "5432"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
  mailer:
    image: schickling/mailcatcher
    ports: ["1025", "1080"]

  rabbitmq: 
    image: rabbitmq:3-management
    ports: [5672, 15672]
###< symfony/mailer ###
