{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Create category{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Create category</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
