{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Edit category{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Edit category</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
