html, body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.tricks-grid a {
    text-decoration: none;
    color: unset;
}

.uk-button-success {
    background-color: #32d296;
    color: #fff;
    border: 1px solid transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', cursive;
}

h1 {
    letter-spacing: 5px;
}

header .scroll-next {
    position: absolute;
    bottom: 30px;
}

header .scroll-next {
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
}

header .scroll-next a {
    animation: bounce 2s ease infinite;
}

header .scroll-next svg {
    width: 50px !important;
    height: 50px !important;
}

header .scroll-next polyline {
    stroke-width: 2;
    stroke: #000 !important;
}

.logo-nav {
    transition: all .4s;
}

.logo-nav:hover {
    transition: all .4s;
    transform: rotate(360deg) scale(1.1);
}

.img-profile img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    -o-object-fit: cover;
}

.edit-img {
    height: 250px;
    object-position: top;
    object-fit: contain;
    -o-object-fit: contain;
    -o-object-position: top;
}

.tricks-grid .uk-card-media-top img {
    height: 250px;
    width: auto;
    object-position: top;
    -o-object-position: top;
    object-fit: contain;
    -o-object-fit: contain;
}

.img-slide--trick-show {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;
}

.video-layer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

	40% {
        transform: translateY(-5px);
    }

	60% {
        transform: translateY(-2.5px);
    }
}

@media screen and (min-width: 768px) {
    #toggle-btn-media {
        display: none;
    }

    #toggle-medias[hidden] {
        display: block !important;
    }
}