{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Create Trick{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Create trick</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
