{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Show{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Show trick</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
