{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Edit profile{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Edit profile</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
