{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Profile{% endblock %}

{% block h1 %}
    <h1 class="uk-text-uppercase">Hello {name}</h1>
{% endblock %}

{% block body %}

    

{% endblock %}
